.field--group-modal-bootstrap-button{background:#246F8C;color:#fff;border:0;line-height:100%;padding:10px;position:absolute;top:425px;left:480px;}
.stateAL{fill:red;}.departement75:hover{fill:red;}
.field--name-field-entites{font-weight:bold;font-size:20px;}.field--name-field-entite{font-weight:bold;font-size:20px;}
details > .details-wrapper{padding:0.5em 1.5em;text-align:justify;}p{margin:0 0 20px 0;margin-bottom:20px;text-align:justify;font-size:16px;}
.views-field.views-field-field-humain.views-align-center{background:#efeff5;border-left:1.0rem solid
#246f8c;border-bottom:solid 0.15rem
#246f8c;border-top:solid 0.15rem
    #246f8c;}.views-field.views-field-field-imagedrapeau.views-align-center{background:#efeff5;border-left-color:#246F8C;border-left:1rem solid
#246f8c;border-bottom:solid 0.15rem
#246f8c;border-top:solid 0.15rem
    #246f8c;}.views-field.views-field-field-nombre-d-entites-non-etati.views-align-left{border-bottom:solid 0.15rem

#246f8c;background:#efeff5;border-top:solid 0.15rem

    #246f8c;}.views-field.views-field-field-nbrorganisations{border:c;background:#efeff5;border:collapse;border-bottom:solid 0.15rem
#246f8c;border-top:solid 0.15rem
#246f8c;border-right:solid 0.15rem
    #246f8c;}.views-field.views-field-field-image.views-align-center{background:#efeff5;border-left:solid 1rem
#246f8c;border-bottom:solid 0.15rem
#246f8c;border-top:solid 0.15rem
    #246f8c;}.views-field.views-field-field-nbretatss{background:#efeff5;border-bottom:solid 0.15rem
#246f8c;border-top:solid 0.15rem
    #246f8c;}.view.view-nombre-d-etats-ou-territoiress.view-id-nombre_d_etats_ou_territoiress.view-display-id-block_1.js-view-dom-id-64d0defbd55f826cfcbbe281b8ec3dad28fd620e2df43efb23d404067bbb039f{padding:1em;}
.button:first-child,.image-button:first-child{margin-left:0;margin-right:0;}
.form--inline .form-actions{clear:right;}
.button,.image-button{margin-left:0em;margin-right:0em;}
input,button,select,textarea{padding:8px;border:1px solid #246F8C;border-radius:18px;}
