.field--group-modal-bootstrap-button{background:#9e3030;color:#fff;border:0;line-height:100%;padding:10px;position:relative;bottom:60px;left:60px;}
input,button,select,textarea{padding:8px;border:1px solid #246F8C;border-radius:18px;}
